@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@500&display=swap");

.search-input {
  margin: auto;
  width: 20%;
  height: 50px;
  border-radius: 11px;
  font-size: 20px;
  padding: 0 10px;
  font-family: "Trispace", sans-serif;
  background-color: rgba(167, 187, 187, 0.57);
}
.search-form {
  display: flex;
  flex-direction: column;
}

.search-btn {
  margin: auto;
  width: 20%;
  height: 50px;
  border-radius: 11px;
  font-size: 20px;
  padding: 10px;
  font-family: "Trispace", sans-serif;
  background-color: rgba(167, 187, 187, 0.57);
}

.search-btn:hover {
  background-color: rgba(202, 219, 219, 0.57);
}
